<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <!--
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>

    <title>Login JobFuture</title>

</head>
<body class="background" title='Foto de Jezael Melgoza en unsplash.com'>
<nav class="main_div">
    <div class="logo_left">
        <label class="logo mt-2 ms-5 font-weight-bold h5">
            JobFuture
        </label>
        <label class="logo_com">
            <i class="fa fa-mouse-pointer logo_com" aria-hidden="true"></i>
        </label>

    </div>
    <div class="logo_right">
        <label class="Candidate_login_btn">
            <a th:href="@{/login}">
                Login
            </a>
        </label>
        <label class="Recruiter_login_btn">
            <a th:href="@{/register}">
                Register
            </a>

        </label>
    </div>
</nav>
<form th:action="@{/global-search/}">
    <div class="searchBox">

        <div class="page-desc">
            <h3>Job Portal</h3>
            <p>
                The best platform for recruiters and job seekers.
                Find the best place to work and the most suitable candidates for your company on JobFuture.
            </p>
        </div>
        <div class="inner">

            <input type="text" placeholder="Search for a job" name="job" th:value="${job}"/>
            <input type="text" placeholder="Enter a location" name="location" th:value="${location}"/>
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
    </div>
</form>
<footer>
    <label class="copy-right">Copyright © jobfuture.com</label>
</footer>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
